body {
  font-family: 'Love Ya Like A Sister', cursive;
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  padding: 0;
  height: 100%;
  /*grey color in bulma framework*/
}

.section {
  margin-top: -47px;
}

.logo {
  color: white !important;
  font-size: 30px;
}

h2 {
  margin-top: 0.1px !important;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  color: black;
  font-weight: 400;
}

li {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  color: black;
  font-weight: 400;
}

/*css for header and its content*/

h1 {
  font-size: 28px !important;
  font-weight: 600 !important;
  color: hsl(0, 0%, 7%) !important;
}

img {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 95%);
}

.has-same-height1 {
  margin-top: 60px;
}

.has-same-height .card {
  height: 400px;
  overflow: hidden;
}

/*css for section1*/

.fp-controlArrow.fp-prev {
  border-color: transparent hsl(0, 0%, 71%) transparent transparent;
  margin-left: -15px;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent hsl(0, 0%, 71%);
  margin-right: 13.5%;
}

/*css for the footer*/

.footer-fixed {
  text-align: center;
  margin-top: 30px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: white;
  text-align: center;
}