body {
  font-family: 'Love Ya Like A Sister', cursive;
  background-color: hsl(0, 0%, 96%);
  /*grey color in bulma framework*/
}

h2 {
  margin-top: 0.1px !important;
}

p {
  font-size: 22px;
  color: black;
}

td {
  font-size: 16px;
}

.logo {
  color: white !important;
  font-size: 30px;
  margin-left: 30%;
}

/*css  for element in hero at top of the size*/
#hero_link {
  color: hsl(0, 0%, 21%);
}

#hero_link:hover {
  color: hsl(348, 100%, 61%) !important;
}

/* set the height for the about you container*/
.has-same-height .card {
  height: 430px;
  overflow: hidden;
}

.is-backgrounded {
  background: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid;
}

.card-content h3 {
  text-align: center;
}

.table-profile td, th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.table__wrapper {
  overflow-x: auto;
}

.pricing__table {
  width: 100%;
  overflow-x: auto;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.skill-data {
  font-size: 14.5px;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}